# Ignore everything
*

# Un-ignore .py files in the root only
!*.py

# Un-ignore README and .gitignore itself
!README.md
!.gitignore

# Explicitly ignore subdirectories
__pycache__/
.venv/
.idea/
older_versions/
Schemes_and_Funds/
test/
Uddipan/